<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.BrankDao" >
    <resultMap id="BrankEntityMap" type="com.example.entity.BrankEntity" >
        <id column="brank_id" property="brank_id" jdbcType="INTEGER" />
        <result column="brank_name" property="brank_name" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByBrankKey" resultMap="com.example.entity.BrankEntity" >
        select
            brank_id,
            brank_name
        from s_brank
        where brank_id = #{brank_id}
    </select>
    <delete id="deleteByBrankKey" parameterType="java.lang.integer " >
        delete from s_brank
        where brank_id = #{brank_id}
    </delete>
    <insert id="insertGoods" parameterType="java.lang.integer" >
        insert into s_brank (brank_id, brank_name)
        values (#{brank_id}, #{brank_name})
    </insert>
    <update id="updateByBrankKey" parameterType="java.lang.integer" >
        update s_brank
        set brank_name = #{brank_name}
        where brank_id = #{brank_id}
    </update>
</mapper>