<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.GoodsDao" >
    <resultMap id="GoodsEntityMap" type="com.example.entity.GoodsEntity" >
        <id column="goods_id" property="goods_id" jdbcType="INTEGER" />
        <result column="brank_id" property="brank_id" jdbcType="INTEGER" />
        <result column="goods_name" property="goods_name" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectForPage" resultMap="com.example.entity.BrankEntity">
        select
            goods_id,
            brank_id
        from s_goods
        where goods_id = #{goods_id} limit #{param1},#{param2}
    </select>
    <delete id="deleteByGoodsKey" parameterType="java.lang.integer" >
        delete from s_goods
        where goods_id = #{goods_id}
    </delete>
    <insert id="insert" parameterType="java.lang.integer" >
        insert into s_goods (goods_id, brank_id, goods_name)
        values (#{goods_id}, #{brank_id}, #{goods_name})
    </insert>
    <update id="updateByGoodsKey" parameterType="java.lang.integer" >
        update s_goods
        set brank_id = #{brank_id},
            goods_name = #{goods_id}
        where goods_id = #{goods_id}
    </update>
</mapper>